@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25vw;
  box-shadow: 0 1px 10px rgb(0 0 0 / 30%);
  animation: slideup 1s linear forwards;
}

@keyframes slideup {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

.swiper {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 2%;
  top: 5%;
  gap: 0.5rem;
}

.cnt {
  font-size: 1.5rem;
  font-weight: 700;
}

.tab > img,
p {
  cursor: pointer;
}

.counts {
  background-color: transparent;
  width: 25vw;
  height: 200px;
  /* animation: scale-out 1s linear; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 25vw;
  height: 200px;
  perspective: 1000px;
  animation: scale-out 1s linear;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.counts > p {
  text-align: center;
  font-size: 4rem;
}

.count-row {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.heading {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nrd {
  color: gray;
  padding-top: 1rem;
}
